<div class="container diarybox">
<form action="/home/new2" method="post">
  <div class="form-group">
    <label for="formGroupExampleInput" class="datefood">오늘의 날짜📅</label><br>
    <input name="title2" type="text" class="form-control date" id="formGroupExampleInput" placeholder="20xx년-x월-x일">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2" class="datefood">내가 먹은 음식🍗</label><br>
    <input name="content2" type="text" class="form-control food" id="formGroupExampleInput2" placeholder="아침: xx, 점심:xx, 저녁:xx">
  </div>
  <button type="submit" class="btn btn-success store">내 뱃속에 저!장!</button>
</form>
</div>