<div class="container">
    <div class="title">
        <div class="pig"><h1>돼지 일기</h1></div>
       
        <%= image_tag 'chicken.gif' %>
        <div>
        <button type="button" class="btn btn-outline-danger startbox" ><a href ="/home/name" class="start">START!</a></button>
        </div>
        
    </div>
</div>