<div class="container abc">
    <h1 class="lastpig">제인돼지의 일기</h1>
    <div class="button"><a href="/home/first"><button type="button" class="btn btn-info back">돌아가기</button></a></div>
    <%posts = Ttheend.all%>
    <%for post in posts%>
    <h2 class="dog">날짜</h2>
    <%=post.title2%>
    <h2 class="dog">먹은 음식</h2>
    <%=post.content2%>
    <%end%>
</div>
