<div class="container">
    <h1 class="pigs">PIGS</h1>
    <div class="namelist">
        <div class="button">
            <a href ="/home/diary1"><button type="button" class="btn btn-warning namebox">김수민</button></a>
        </div>
        <div class="button">
            <a href ="/home/diary2"><button type="button" class="btn btn-warning namebox">김제인</button></a>
        </div>
        <div class="button">
            <a href ="/home/diary3"><button type="button" class="btn btn-warning namebox">방지영</button></a>
        </div>
        <div class="button">
            <button type="button" class="btn btn-secondary plusbox">><a href ="/home/plus" class="bepig">돼지되기</a></button>
        </div>
        
    </div>
</div>