<div class ="container">
    
    <div class="sam">
       <a href ="/home/name"><img src="/assets/quize.png" class="quiz"></a>
    </div>
    <audio src="/assets/yeah.mp3" autoplay></audio>
    
</div>